<!DOCTYPE html>
<html>
<head>
   <title>myMenuApp</title>
   <meta name="description" content="Search Recipes and Build a Menu Plan">
	<meta name="keywords" content="Food, Recipes, Menu">
	<meta name="author" content="Davi Neves">

	<!-- responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- encoding -->
    <meta charset="UTF-8" />

    <!-- styles -->
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="/js/search.js"></script>

</head>
<body>
   <header>
	   <h2>myMenu App</h2>
   </header>
      <div class="clearfix">
         <section>
            <p>Please enter an ingredient or dish to search:</p>
            <div class="row">
               <div class="col-4 col-s-9 menu" >
                  <input type="text" id="txtSearch">
                  <button onclick="search();">Search</button>
               </div>
               <div class="col-4 col-s-9" id="divResults">
                  <h2>Results</h2>
                  <ul id="ulResults">
                  </ul>
               </div>
            </div>
         </section>
      </div>


      <footer>
         <br /><br />
         Address. xxx XXX Portland, OR xxxxx<br />
         Tel. 123-456-7890<br />
         Email. nev05002@byui.edu<br /><br />
         © 2020 by DNeves.
         <br /><br />
         <a href="#">
            <div class="button-link link-current">myMenuApp</div>
         </a><br />
         <a href="#">Contact Us!</a>
      </footer>
   </body>
</html>