<!DOCTYPE html>
<html>
<head>
   <title>myMenuApp</title>
   <meta name="description" content="Search Recipes and Build a Menu Plan">
	<meta name="keywords" content="Food, Recipes, Menu">
	<meta name="author" content="Davi Neves">

	<!-- responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- encoding -->
    <meta charset="UTF-8" />

    <!-- styles -->
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="/js/search.js"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

   
</head>
<body>
   <header>
      <h2 class="welcome">Welcome to SmartDelivery</h2>
      <h3 class="message">Fancy, tasty, and warm food right to your door!</h3>
   </header>
      <div class="card">
         <section>
            <div class="row">
               <div class="col-12 col-s-3 menu" style="text-align: center;">
                  <h3 style="margin-bottom: 10px;">Search for Food:</h3>
                  <input style="margin-bottom: -14px;" type="text" id="txtSearch">
               </div>
               <div class="col-12 col-s-3 menu" style="text-align: center;">
                  <button id="search" onclick=";">Recent Orders</button>
               </div>
               <div class="col-12 col-s-3 menu" style="text-align: center;">
                  <button id="search" onclick=";">New Order</button>
               </div>
               </div >
               <div class="col-12 col-s-6 results" id="divResults" style="text-align: center;">
                  <h1>My Favorites</h1>
                  <div>
                     <ul id="ulResults" style="list-style-type: none; margin-left: -30px;">
                        <li><a>Option 1</a></li>
                        <li><a>Option 2</a></li>
                        <li><a>Option 3</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <footer>
         <br/><br/>
         <div id="footer">
            <div class="space">
               <p></p><br/>
               <p>Tel. 503-891-3045</p>
            </div>
            <a class="email" href="mailto:nev05002@byui.edu">Email: nev05002@byui.edu</a><br />
            <p>© 2021 by DNeves.</p>
            <br/>
            <a href="#">
               <div class="button-link link-current">myMenuApp</div>
            </a><br/>
            <a class="contact" href="mailto:nev05002@byui.edu">Contact Us!</a>
         </div>
      </footer>
   </body>
</html>