<!DOCTYPE html>
<html>
<head>
   <title>SWAPI Exercise</title>
   <link rel="stylesheet" type="text/css" href="ta8.css" />
   <meta name="description" content="Star Wars Api">
	<meta name="author" content="Davi Neves">

	<!-- responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- encoding -->
    <meta charset="UTF-8" />

    <!-- styles -->
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="/js/search.js"></script>
   
</head>
<body>
   <header>
      <h2 class="welcome">Welcome to Star Wars Api Search</h2>
   </header>
      <div class="clearfix">
         <section>
            <div class="row">
               <div class="col-12 col-s-3 menu" style="margin-left: 300px;">
                  <button id="search" onclick="search();">Search</button>
               </div>
               <div class="col-12 col-s-6 results" id="divResults" style="margin-left: 300px;">
                  <h1>Results</h1>
                  <ul id="ulResults">
                  </ul>
               </div>
            </div>
         </section>
      </div>
      <footer>
         <br /><br />
         Address. xxx XXX Portland, OR xxxxx<br />
         Tel. 503-891-3045<br />
         <a class="email" href="mailto:nev05002@byui.edu">Email: nev05002@byui.edu</a><br />
         © 2020 by DNeves.
         <br />
         <a href="#">
            <div class="button-link link-current">myMenuApp</div>
         </a><br />
         <a class="contact" href="mailto:nev05002@byui.edu">Contact Us!</a>
      </footer>
   </body>
</html>